@page

<html>
<head>

</head>
<body>

    <label id="contador">0</label>
    <input type="button" value="Incrementar" />


    <script>
        let label = document.getElementById("contador");


        // let channel = new BroadcastChannel("contadorChannel");

        // channel.addEventListener("message", function (event){

        //     //console.log(event);

        //     contador = event.data;
        //     label.textContent = contador;

        // });

        // let contador = 0;
        // let label = document.getElementById("contador");

        // document.querySelector("input").addEventListener("click",

        //     function () {
        //         contador++;
        //         label.textContent = contador;

        //         channel.postMessage(contador);
        //     })


    </script>
</body>

</html>